[submodule "Code/Libraries/AFNetworking"]
	path = Code/Libraries/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Code/Libraries/JSONKit"]
	path = Code/Libraries/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Code/Libraries/SDURLCache"]
	path = Code/Libraries/SDURLCache
	url = git://github.com/rs/SDURLCache.git
[submodule "Code/Libraries/SDWebImage"]
	path = Code/Libraries/SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "Code/Libraries/MBProgressHUD"]
	path = Code/Libraries/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Code/Libraries/SSPullToRefresh"]
	path = Code/Libraries/SSPullToRefresh
	url = git://github.com/samsoffes/sspulltorefresh.git
